.section {
  margin-top: 150px;
  margin-bottom: 60px;
}
.filterButton button {
  margin-right: 25px;
  width: 100px;
  background-color: white;
  border: none;
  font-size: 16px;
  font-family: "Montserrat";
  color: #424242;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
}

.filterButton .productButton {
  width: 148px;
}
.filterButton button:focus {
  color: #d05270;
  border-bottom: 1px solid #d05270;
}
